.container {
    text-align: center;
}

.statusCode {
    font-size: 10rem;
    color: #ce2121;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .statusCode {
        font-size: 5rem;
    }
}

.errorBody {
    margin: 1rem;
}
