.homepageRoot {
    height: 60vh;
    background: url(../../assets/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.homepageInner {
    padding-top: 2rem;
}

.header {
    color: hsl(14, 90%, 53%);
}
