.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 500px;
    width: 100%;
}

.previewHolder {
    margin-top: 1rem;
}

.previewTitle {
    font-weight: bold;
}

.helperTextHolder {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.previewImage {
    width: 100%;
}
