.navbar {
    background-color: var(--light-color) !important;
    box-shadow: none !important;
    border-bottom: 1px solid rgb(238, 238, 238);
    color: var(--dark-color) !important;
}

.brandItems {
    font-size: 1.5rem;
    display: flex;
    flex-grow: 1;
    cursor: pointer;
    align-items: center;
}

.brandName {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.5rem;
    font-weight: bold;
    color: var(--dark-color);
}
